* {
    color: white;
}

body {
    margin-top: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: #eb6240;
    background-image: url('pieshop_files/cake.svg');
    background-repeat: repeat-y;
    background-position: 25% 0%;
    /* background-image: linear-gradient(to right, #eb6240, #23cfa7); */
    
}

#mainheader {
    background-color: #a593c2;
}

nav {
    height: 60px;
    width: 1000px;
    margin: 0 auto 20px;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav>ul>li {
    float: left;
}

nav>ul>li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
}

#leftmenu {
    float: left;
    width: 30%;
    margin-bottom: 20px;
}

#main {
    float: right;
    width: 60%;
    margin-bottom: 20px;
}

h1{
    color:white;
}

footer {
    clear: both;
    width: 100%;
}

.searchbox {
    padding: 5px;
    margin: 10px 10px;
    width: 200px;
}

p{
    color: #0000FF;
}

.description {
   color: rgb(80, 240,240);
}

#third, #fourth {
    color: #00FF00;
}

#cupcakes {
    background-color: white;
    width: 300px;
    box-shadow: 25px 25px 25px rgb(80, 240,240);
}

/* #whiteboard {
    background-color: white;
} */

.cupcakeimage {
    /* background-color: white; */
    width: 268px;
    height: 309px;
    background-image: url(./pieshop_files/cupcakes.png);
    margin-top: 5px;
}

#cupcake1 {
    filter: saturate(100%);
}

#cupcake2 {
    background-position-y: 370px;
    height: 350px;
}

#cupcake3 {
    background-position-x: -263px;
    height: 442px;
}

#cupcake4 {
    background-position-x: -263px;
    background-position-y: 301px;
}